.spinner {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 3px solid;
  border-color: #dbdcef;
  border-right-color: #ffffff;
  animation: spinner-d3wgkg 1s infinite linear;
}

@keyframes spinner-d3wgkg {
  to {
    transform: rotate(1turn);
  }
}
